<!-- Banner Section -->
<div class="bckg-image">
  <div class="banner">
    <div class="title">
      <h1>Leonardo Figueira</h1>
      <p><i class="fas fa-code"></i> <span id="banner-typed-text"></span>  <i class="fas fa-code"></i> </p>
    </div>
  </div>
<!-- Scroll Buttons Section -->
  <div class="banner-footer">
    <%= link_to "#about" do %>
      <div class="card-banner">
        <i class="far fa-user"></i>
        <span>About</span>
      </div>
    <% end %>
    <%= link_to "#skills" do %>
      <div class="card-banner">
        <i class="fas fa-atom"></i>
        <span>Skills</span>
      </div>
    <% end %>
    <%= link_to "#portfolio" do %>
      <div class="card-banner">
        <i class="fas fa-code-branch"></i>
        <span>Portfolio</span>
      </div>
    <% end %>
    <%= link_to "#contact" do %>
      <div class="card-banner">
        <i class="far fa-id-card"></i>
        <span>Contact</span>
      </div>
    <% end %>
  </div>
</div>
<!-- About Section -->
<section id="about">
  <div class="main-container">
    <div class="block mt-4">
      <h1>About</h1>
    </div>
      <div class="section-container" id="about-container">
        <div class="about-text">
          <p>Hey there! My name is Leonardo and I'm a <em>Full-Stack web developer</em>  who reaaaally loves Front-end. When I graduated at college<em>(EFOMM)</em>, I started working on a job very different than coding: I was a deck officer on anchor handling vessels. After five years sailing across brazilian seas and anchoring plataforms, I decided to change my career's course drastically and study again. I graduated at <em>FGV's Project Management MBA</em>  and at <em>Le Wagon Coding Bootcamp</em> . <br>
          I can say that my experience as Deck Officer has given me a high sense of <em>responsability, hierarchy, teamwork and leadership.</em> <br>
          In addition to that, the MBA I concluded has given me knowledge on several important concepts as <em>Lean, MVP, Agile, PDCA, Scrum,</em> and so many others.<br>
          Le Wagon has basically inserted me into the tech world and gave me not only the knowledge about <em>Rails, Ruby, JS</em> , etc... but also the super-ability of being confident enough to learn new programming languages and frameworks.<br>
          Since I was a young kid I always loved technology, computer, games and internet. Now I am finally able to work with my passions and grow my development skills!</p>
        </div>
        <div class="profile_pic">
        </div>
      </div>
    <a href="#banner">
      <span class="scroll-up"></span>
    </a>
    <a href="#skills">
      <span class="scroll-down"></span>
    </a>
  </div>
</section>
<!-- Skills Section -->
<section id="skills">
  <div class="main-container">
    <div class="block mt-4">
      <h1>Skills</h1>
    </div>
    <div class="section-container">
      <div class="m-3 p-3">
        <h2>Experienced with</h2><br>
        <%= image_tag "ruby.png", class: "avatar-skill", title: "Ruby" %>
        <%= image_tag "rails.png", class: "avatar-skill", title: "Rails" %>
        <%= image_tag "html.png", class: "avatar-skill", title: "HTML5" %>
        <%= image_tag "css.png", class: "avatar-skill", title: "CSS3" %>
        <%= image_tag "sass.jpeg", class: "avatar-skill", title: "SASS" %>
        <%= image_tag "bootstrap.jpg", class: "avatar-skill", title: "Bootstrap" %>
        <%= image_tag "sql.png", class: "avatar-skill", title: "SQL" %>
        <%= image_tag "postgre.png", class: "avatar-skill", title: "Postgre" %>
        <%= image_tag "git.png", class: "avatar-skill", title: "Git" %>
        <%= image_tag "github.png", class: "avatar-skill", title: "GitHub" %>
        <%= image_tag "heroku.png", class: "avatar-skill", title: "Heroku" %>

      </div>

      <div class="m-3 p-3">
        <br><h2>Short-term meta</h2><br>
        <%= image_tag "react.png", class: "avatar-skill", title: "React" %>
        <%= image_tag "vue.png", class: "avatar-skill", title: "Vue" %>

      </div>

      <div class="m-3 p-3">
        <br><h2>Long-term meta</h2><br>
        <%= image_tag "node.png", class: "avatar-skill", title: "Node" %>
        <%= image_tag "angular.png", class: "avatar-skill", title: "Angular" %>
        <%= image_tag "python.png", class: "avatar-skill", title: "Python" %>
        <%= image_tag "swift.png", class: "avatar-skill", title: "Swift" %>
        <%= image_tag "kotlin.png", class: "avatar-skill", title: "Kotlin" %>


      </div>

    </div>

    <a href="#about">
      <span class="scroll-up"></span>
    </a>
    <a href="#portfolio">
      <span class="scroll-down"></span>
    </a>
  </div>
</section>
<!-- Portfolio Section -->
<section id="portfolio">
  <div class="main-container">
    <div class="block mt-4">
      <h1>Projects</h1>
    </div>
    <div class="cards">
      <a href="https://algolearning.herokuapp.com/" target="_blank">
        <div class= "cards-projects">
          <%= image_tag "algolearning.jpeg", class: "card-photo-cp" %>
          <div class="card-info">
            <h2> Algolearning </h2>
            <p>AlgoLearn is a free plataform that provides free must-know algorithms courses to prepare the users for real coding interviews.</p>
          </div>
        </div>
      </a>

      <a href="https://fourlegsangels-vkaraujo.herokuapp.com/" target="_blank">
        <div class= "cards-projects">
          <%= image_tag "fourlegsangels.jpeg", class: "card-photo-cp" %>
          <div class="card-info">
            <h2> Four Legs Angels </h2>
            <p> 4LegsAngels is an web application that connects pet Heroes to pet Adopters to find a new home to rescued pets.</p>
          </div>
        </div>
      </a>

      <a href="https://leococktail.herokuapp.com/" target="_blank">
        <div class= "cards-projects">
          <%= image_tag "leococktail.jpeg", class: "card-photo-cp" %>
          <div class="card-info">
            <h2> Leo Cocktail </h2>
            <p> Come and find excellent drinks on Leo Cocktail. You can also create your owns drinks with your own recipes.</p>
          </div>
        </div>
      </a>

    </div>


    <a href="#skills">
      <span class="scroll-up"></span>
    </a>
    <a href="#contact">
      <span class="scroll-down"></span>
    </a>
  </div>
</section>
<!-- Contact -->
<section id="contact">
  <div class="main-container">
    <div class="block mt-4">
      <h1>Contact</h1>
    </div>
    <div class="section-container">
      <h2>I hope you enjoyed the view until here!</h2><br>
      <p>
        If you want to talk about freelance work, a job opportunity, or anything else, feel welcomed to contact me.<br>
        It is always nice to meet new people and discuss some new ideas!<br><br>
        You can message and follow me on my social medias:
        </p>
        <div class="social-links">
          <a href="https://github.com/Leopyy" target=”_blank”><i class="fab fa-github"></i></a>
          <a href="https://www.linkedin.com/in/leonardo-figueira-aba4793b" target=”_blank”><i class="fab fa-linkedin"></i></a>
          <a href="https://www.instagram.com/leofigueiracorreia" target=”_blank”><i class="fab fa-instagram"></i></a>
          <a href="https://www.facebook.com/leonardo.figueira.37" target=”_blank”><i class="fab fa-facebook"></i></a>
        </div>
    </div>
    <a href="#portfolio">
      <span class="scroll-up"></span>
    </a>
  </div>
</section>
